convert csv to xlsx

In [117]:
import pandas as pd
import numpy as np
import datetime as dt
list_unicorn_csv = pd.read_csv(r'./assets/data/list-of-unicorn-startup-companies.csv')

#CLEANSING

remove unused column, ('id'), bisa menggunakan drop, pop, atau del

In [118]:
list_unicorn_csv.drop(['id', 'Founder(s)'], inplace=True, axis=1)

In [119]:
list_unicorn_csv.columns

Index(['Company', 'Valuation(US$ billions)', 'Valuation date', 'Industry',
       'Country/countries'],
      dtype='object')

In [120]:
list_unicorn_csv.rename(columns={'Company':'company', 'Valuation(US$ billions)':"valuation", "Valuation date":"valuation_date", "Industry": "industry", "Country/countries": "country"}, inplace=True)

In [121]:
print(list_unicorn_csv.isna().sum())

company            0
valuation          0
valuation_date     0
industry          64
country            0
dtype: int64

Cek Missing Value

In [122]:
list_unicorn_csv['industry'].value_counts()

industry
Financial technology                               71
Software                                           50
E-commerce                                         30
Cybersecurity                                      23
Artificial intelligence                            19
                                                   ..
Trucking                                            1
Home improvement                                    1
Superintelligence・Quantum computing・Metaverse       1
Content management system                           1
Environmental,_social,_and_corporate_governance     1
Name: count, Length: 155, dtype: int64

In [123]:
industry_modus = list_unicorn_csv['industry'].mode()
industry_modus

0    Financial technology
Name: industry, dtype: object

In [124]:
list_unicorn_csv['industry'].replace(np.nan, industry_modus[0], inplace=True)

In [125]:
print(list_unicorn_csv.isna().sum())

company           0
valuation         0
valuation_date    0
industry          0
country           0
dtype: int64

In [126]:
list_unicorn_csv

,company,valuation,valuation_date,industry,country
0,ByteDance,140,June 2022[13],Internet,China
1,SpaceX,127,June 2022[13],Aerospace,US
2,Shein,100,June 2022[13],E-commerce,China
3,Stripe,50,March 2023[13],Financial services,US / Ireland
4,Canva,40,September 2021[16],Graphic design,Australia
...,...,...,...,...,...
653,Voi,1+,April 2022[59],Financial technology,Sweden
654,Neo Financial,1,May 2022[567],Financial technology,Canada
655,Physics Wallah,1.1,June 2022[568],Educational technology,India
656,OneCard,1.4+,July 2022[569],Financial technology,India
657,5ire,1.5+,July 2022[570],Technology,India

FORMATING

In [127]:
list_unicorn_csv.dtypes

company           object
valuation         object
valuation_date    object
industry          object
country           object
dtype: object

In [128]:
list_unicorn_csv['valuation_date'] = list_unicorn_csv['valuation_date'].str.replace('\[.*\]', '', regex=True)
list_unicorn_csv

,company,valuation,valuation_date,industry,country
0,ByteDance,140,June 2022,Internet,China
1,SpaceX,127,June 2022,Aerospace,US
2,Shein,100,June 2022,E-commerce,China
3,Stripe,50,March 2023,Financial services,US / Ireland
4,Canva,40,September 2021,Graphic design,Australia
...,...,...,...,...,...
653,Voi,1+,April 2022,Financial technology,Sweden
654,Neo Financial,1,May 2022,Financial technology,Canada
655,Physics Wallah,1.1,June 2022,Educational technology,India
656,OneCard,1.4+,July 2022,Financial technology,India
657,5ire,1.5+,July 2022,Technology,India

In [129]:
list_unicorn_csv['valuation'] = list_unicorn_csv['valuation'].str.replace('+', '')
list_unicorn_csv

,company,valuation,valuation_date,industry,country
0,ByteDance,140,June 2022,Internet,China
1,SpaceX,127,June 2022,Aerospace,US
2,Shein,100,June 2022,E-commerce,China
3,Stripe,50,March 2023,Financial services,US / Ireland
4,Canva,40,September 2021,Graphic design,Australia
...,...,...,...,...,...
653,Voi,1,April 2022,Financial technology,Sweden
654,Neo Financial,1,May 2022,Financial technology,Canada
655,Physics Wallah,1.1,June 2022,Educational technology,India
656,OneCard,1.4,July 2022,Financial technology,India
657,5ire,1.5,July 2022,Technology,India

In [130]:
list_unicorn_csv.dtypes

company           object
valuation         object
valuation_date    object
industry          object
country           object
dtype: object

In [131]:
list_unicorn_csv['valuation'].replace('Undisclosed', np.nan, inplace=True)

In [132]:
mean_valuation = list_unicorn_csv['valuation'].astype(float).mean()
mean_valuation

4.040517503805176

In [133]:
list_unicorn_csv['valuation'].replace(np.nan, mean_valuation, inplace=True)

In [134]:
list_unicorn_csv['valuation'] = pd.to_numeric(list_unicorn_csv['valuation'])
list_unicorn_csv.dtypes

company            object
valuation         float64
valuation_date     object
industry           object
country            object
dtype: object

In [136]:
# list_unicorn_csv['valuation_date'] = pd.to_datetime(list_unicorn_csv['valuation_date'], format='%B %Y')
list_unicorn_csv['valuation_date'] = pd.to_datetime(list_unicorn_csv['valuation_date']).dt.strftime('%m-%Y')
list_unicorn_csv

C:\Users\Novin\AppData\Local\Temp\ipykernel_25152\1332032132.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  list_unicorn_csv['valuation_date'] = pd.to_datetime(list_unicorn_csv['valuation_date']).dt.strftime('%m-%Y')

,company,valuation,valuation_date,industry,country
0,ByteDance,140.0,06-2022,Internet,China
1,SpaceX,127.0,06-2022,Aerospace,US
2,Shein,100.0,06-2022,E-commerce,China
3,Stripe,50.0,03-2023,Financial services,US / Ireland
4,Canva,40.0,09-2021,Graphic design,Australia
...,...,...,...,...,...
653,Voi,1.0,04-2022,Financial technology,Sweden
654,Neo Financial,1.0,05-2022,Financial technology,Canada
655,Physics Wallah,1.1,06-2022,Educational technology,India
656,OneCard,1.4,07-2022,Financial technology,India
657,5ire,1.5,07-2022,Technology,India

In [141]:
list_unicorn_csv.to_csv(r'./assets/data/list-of-unicorn-startup-companies-fix.csv', index=None, header=True)